/* Write your code here. */
.bg-container {
  background-color: #0f172a;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #f8fafc;
  font-family: "Roboto";
  font-size: 30px;
}
.image {
  height: 150px;
  width: 150px;
}
